
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="html(title,content)">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <title th:replace="${title}">Contact</title>
</head>
<div id="container">
    <header>
        <h1>Contact List</h1>
    </header>
    <main th:replace="${content}">
        <p>Content</p>
    </main>
    <footer>
        built with <a href="https://spring.io/">Spring</a>
    </footer>
</div>
</html>